@import url('http://fonts.cdnfonts.com/css/product-sans');

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
.nav-bar {
    margin-left: 0;
    height: 65px;
}

.products-view {
    height: Calc(100% - 66px)
}
.material-view {
    height: Calc(100% - 66px)
}
.orders-view {
    height: Calc(100% - 66px)
}